




style. 
  .header{
    display: block;
  }
  .invoice-number{
    color: darkslateblue;
  }
  .address{
    width: 35vw;
    margin: 0 auto;
  }
  .payment-button{
    background: darkslategray;
    color: #fff;
  }
  .date{
    color: orange;
  }